[build]
  command = "npm run build"
  publish = "frontend/build"
  functions = "netlify/functions"

[context.production.environment]
  NODE_ENV = "production"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
